[submodule "3d-particles"]
	path = www/3d-particles
	url = https://github.com/yuanchenyang/3d-particles.git
[submodule "python-visualizer"]
	path = visualizer/python-visualizer
	url = https://github.com/enah/python-visualizer.git
[submodule "coding-js"]
	path = www/coding-js
	url = https://github.com/yuanchenyang/coding-js.git
[submodule "LambdaJS"]
	path = www/LambdaJS
	url = https://github.com/yuanchenyang/LambdaJS
[submodule "dashboard"]
	path = dashboard_app/dashboard
	url = https://github.com/yuanchenyang/dashboard.git
[submodule "61a-website"]
	path = www/61a-website
	url = https://github.com/yuanchenyang/61a-website.git
[submodule "facebook-group-archiver"]
	path = archiver/facebook-group-archiver
	url = https://github.com/yuanchenyang/facebook-group-archiver.git
[submodule "personal-website"]
	path = www/personal-website
	url = https://github.com/yuanchenyang/personal-website.git
